/* common css goes here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --primaryColor: #156922;
    --white: #fff
}

body {
    font-family: 'Open Sans',
        sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    line-height: 0.8;
    margin: 0;
    padding: 0;
}

/* header section css goes here */
.header_section {
    background: var(--primaryColor);
    padding: 10px 0px;
}

.header_p2 {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.header_p2 h1 {
    font-size: 28px;
    padding: 10px;
    font-weight: 700;
}

.header_p2 h1:first-child {
    background: #000;
    color: #a7a7a7;

}

.header_p2 h1:first-child i {
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -moz-transform: scale(1.9);
    -ms-transform: scale(1.9);
    -o-transform: scale(1.9);
}

.header_p2 h1 span:first-child {
    padding-right: 20px;
}

.header_p2 h1 span:last-child {
    padding-left: 20px;
}

.header_p2 h1:last-child {
    background: #fff;
    color: var(--primaryColor);
}

.header_p2 h1:last-child i {
    padding-right: 10px;
}

.header_btn1 {
    text-align: end;
}


.header_btn1 {
    text-align: center;
    padding: 05px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.header_btn1 span>i {
    padding-left: 10px;
    font-size: 12px;
}
.header_btn2 {
    display: none;
    cursor: pointer;
    background: #fff;
    color: var(--primaryColor);
}
.header_btn2 span>i {
    padding-left: 0px;
    padding-right: 10px;
}