/* common css goes here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --primaryColor: #156922;
    --white: #fff
}

body {
    font-family: 'Open Sans',
        sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    line-height: 0.8;
    margin: 0;
    padding: 0;
}

/* header section css goes here */
.header_section {
    background: var(--primaryColor);
    padding: 10px 0px;
}

.header_p2 {
    padding: 0px 15px;
}
.header_btn1 {
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.header_btn1_text {
    padding: 05px 0px;
    display: inline-block;
}
.header_btn1 span>i {
    padding-left: 10px;
    font-size: 12px;
}
.header_btn2 {
    display: none;
    cursor: pointer;
    background: #fff;
    color: var(--primaryColor);
}
.header_btn2 span>i {
    padding-left: 0px;
    padding-right: 10px;
}