/* common css goes here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --primaryColor: #156922;
    --white: #fff
}

body {
    font-family: 'Open Sans',
        sans-serif;
    background: #f4f4f4;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    line-height: 0.8;
    margin: 0;
    padding: 0;
}

button:focus,
button:hover,
input:focus,
a:focus,
button,
input,
a {
    outline: 0;
    border: 0;
    box-shadow: 0;
}

/* header section css goes here */
.header_section {
    background: var(--primaryColor);
    padding: 10px 0px;
    margin-bottom: 10px;
}

.header_p2 {
    padding: 0px 15px;
}
.header_btn1 {
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.header_btn1_text {
    padding: 05px 0px;
    display: inline-block;
}
.header_btn1 span>i {
    padding-left: 10px;
    font-size: 12px;
}
.header_btn2 {
    display: none;
    cursor: pointer;
    background: #fff;
    color: var(--primaryColor);
}
.header_btn2 span>i {
    padding-left: 0px;
    padding-right: 10px;
}
/* Inbox table content */

.table1_wrapper .table_btn_wrapper {
    background: var(--primaryColor);
    padding: 0px 10px;
    padding-top: 10px;
}

.table1_wrapper .nav-tabs {
    border: 0;
}

.table1_wrapper .table_btn_wrapper .nav-link {
    padding: 5px 10px;
    font-weight: 700;
    color: #555;
    width: 200px;
    background: #96c963;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 16px;
    text-transform: capitalize;
}

.table1_wrapper .table_btn_wrapper .nav-link,
.table1_wrapper .table_btn_wrapper .nav-link:hover {
    border: 0;
    outline: 0;
}

.table1_wrapper .table_btn_wrapper .nav-link.active {
    background: #ffffff;

}

.table1_wrapper .table_btn_wrapper .nav-link i {
    margin-right: 10px;
    display: inline-block;
    font-size: 24px;
}

.table1_wrapper .tabs_child_wrapper {
    margin: 10px;
    border: 1px solid var(--primaryColor);
}

/* update section */
.update_section {
    padding: 20px;
}

.update_section button {
    background: #eaeaea;
    border: 1px solid #000;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.update_section i {
    margin-right: 5px;
}

/* meassage section goes here */
.search {
    margin: 10px;
    border: 1px solid var(--primaryColor);
}

.row.search_element {
    padding-top: 30px;
}

.item_name.text-end p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
}

.row.search_child {
    margin-bottom: 15px;
}

.item_input input {
    border: 1px solid;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
    width: 150px;
}

.search_btn {
    width: 150px;
    display: flex;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 3px;
}

.search_btn input {
    width: 100%;
}

.search_btn i {
    height: 100%;
    display: inline-block;
    align-self: center;
    cursor: pointer;
}

.new_noti {
    text-align: center;
    padding: 10px 0px;
    background: var(--primaryColor);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.message_section p span {
    margin-left: 5px;
}

.patient_call {
    margin: 10px;
    padding: 15px;
    box-shadow: 0px 0px 2px 0px #000;
    }

    .section_wrapper {
        margin: 10px 10px;
        border: 1px solid var(--primaryColor);
    }

    .message_section .table.table-striped.table-responsive {
        margin: 0;
    }

    .message_section .patient_call.red .head {
        background: #ce003f;
    }

    .message_section .head {
        background: #007fce;
        color: #fff;
        padding: 10px;
    }

    .message_section .head p {
        line-height: 24px;
    }

    .message_section .head .text-1 p {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
    }

    .message_section .text-2 {
        text-align: center;
        width: 80%;
    }

    .message_section .text-2 p {
        font-size: 14px;
    }

    .message_section .from .call_info {
        padding: 0;
        padding: 5px 0px;
        border-bottom: 1px solid #ddd;
    }

    .message_section .to .call_info {
        padding: 0;
        padding-bottom: 10px;
    }

    .message_section .from h3,
    .message_section .to h3 {
        width: 10%;
        text-align: end;
}

.message_section .table_head p {
    border-right: 1px solid #000;
    font-size: 16px;
    line-height: 24px;
}

.message_section .td_rwap.d-flex {
    font-size: 14px;
    display: in;
    border-right: 1px solid #000;
}

.message_section .patient_call.red .td_fast {
    color: #ce003f;
}

.message_section .td_fast {
    width: 70px;
    text-align: end;
    color: #007fce;
    font-weight: 700;
}

.message_section .td-last {
    margin-left: 10px;
}

.message_section td {
    padding: 10px 0px;
}

.call_info {
    padding: 10px 0px;

}

.message_section .call_info p {
    line-height: 24px;
    font-size: 14px;
    padding-left: 15px;
    width: 80%;
}

.message_section .call_info h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding-left: 10px;
}